node_modules/
build/
debug/
.vscode
**/.DS_Store
test/fixtures/elm/queries/output/*
test/fixtures/elm/queries/.start-translator
connectathon/
ecqm-content-r4-2021/
fhir-patient-generator/
coverage
cache
