node_modules/
build/
debug/
.vscode
**/.DS_Store
test/unit/fixtures/elm/queries/output/*
test/unit/fixtures/elm/queries/.start-translator
coverage
cache
test/integration/.start-translator
regression/output/*-*
regression/connectathon
regression/ecqm-content-r4-2021
regression/ecqm-content-qicore-2022
data-requirements/elm-parser-for-ecqms
data-requirements/fqm-e-dr
data-requirements/elm-parser-dr
data-requirements/jan-2024-connectathon
